asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
chardet==4.0.0
cryptography==45.0.4
dj-database-url==3.0.1
Django==5.2.3
django-parler==2.3
gunicorn==23.0.0
idna==2.10
MarkupSafe==3.0.2
packaging==25.0
Pillow==11.3.0
polib==1.2.0
psutil==7.0.0
psycopg2-binary==2.9.10
requests==2.25.1
setuptools==80.9.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==1.26.20
watchdog==6.0.0
whitenoise==6.9.0
GitPython==3.1.43
